.container {
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    height: 11rem;
    flex-wrap: wrap;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  flex: 0 0 18%;
  font-size: 1.4rem;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;
  background-color: #fff;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  background-color: var(--white-smoke);
  padding: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  flex: 0 0 60%;
  background-color: #fff;
  box-shadow: var(--light-shadow);
  padding: 3rem;
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
